.modal-content {
  color: #ebd9a8;
  border-radius: 15px;
  border: 2px solid #ebd9a8;
  background: -webkit-radial-gradient(
    top,
    circle cover,
    #52493b 0%,
    #000000 70%
  );
  /* or something instead, this is no good fix */
  letter-spacing: 1.5px;
  font-family: inherit;
}
.closeButton {
  color: white !important;
}

.btn-hover.color-electric {
    color: #000000; 
    background-image: linear-gradient(
      to right,
      #f5d362,
      #c27510,
      #b46a15,
      #f8aa00
    );
    /*   box-shadow: 0 4px 15px 0 rgba(17, 229, 10, 0.75);
   */
  }
 