@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  /* font-family: Roboto, "Prompt", sans-serif; */
  height: 80vh;
}

body {
  zoom: 80%;
  margin: 0;
  margin-top: -112px;
  padding-top: 100px;
  background: -webkit-radial-gradient(
    top,
    circle cover,
    #52493b 0%,
    #000000 70%
  );
  /* or something instead, this is no good fix */
  height: 100%;
  letter-spacing: 1.5px;
  font-family: inherit;
}

main {
  margin-top: 7rem;
  height: 50%;
  min-height: -moz-available;
  /* min-height: -webkit-fill-available; /1* Mozilla-based browsers will ignore this. *1/ */
  min-height: fill-available;
  text-align: center;
  top: 20px;
}

.modal-backdrop {
  width: 100%;
}

.btn-light {
  color: #fff;
  background-color: #0e1340;
  border-color: #0e1340;
  margin-left: 20px;
  width: 140px;
}
.btn-light:hover {
  color: #fff;
  background-color: #3c4278;
  border-color: #0e1340;
}

h1,
h2,
h3,
p {
  /* color: #dfb25e; */
  color: #dfb25e;
}

.flickerOn {
  animation: flicker 2s linear;
}
@keyframes flicker {
  0% {
    opacity: 0;
  }
  69% {
    opacity: 0.22;
  }
  70% {
    opacity: 0.55;
  }
  75% {
    opacity: 0;
  }
  80% {
    opacity: 0.55;
  }
  85% {
    opacity: 0%;
  }
  90% {
    opacity: 0.22;
  }
}

.gradient-text {
  background: linear-gradient(45deg, #d36100, yellow);
  background-size: 150% 150%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.modal-content {
  transition: border-color 0.2s linear;

  background: #222;
  padding: 2rem;
  background-repeat: no-repeat;
  background-size: 100% 3px;
  box-shadow: none;
  color: #000;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  padding: 0.45rem 0;
  width: 100%;
  text-align: center;
  color: #ffdd9e;
}
.closeButton {
  color: white !important;
}

.modal-header {
  background-image: linear-gradient(to right, #ffe600 0, #ff7101 60%);
  background-repeat: no-repeat;
  background-size: 100% 3px;
  box-shadow: none;
  border-bottom: 3px solid orange;
  color: #000;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  padding: 0.45 rem 0;
  transition: border-color 0.2s linear;
  width: 100%;
  text-align: center;
  color: #ffdd9e;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Navbar styles below*/

.btn-light.mm {
  border: none;
  color: #ffdd9e;
  background: transparent;
  font-size: 17px;
  font-weight: 600;
  font-family: inherit;
  text-transform: lowercase;
  letter-spacing: 1.5px;
  width: 18vw;
  padding: 0px;
  margin: 0px 0px 0px 0px;
}

.btn-light.mm:hover:active:focus {
  outline: none !important;
  box-shadow: none !important;
}

.navbar {
  width: 100%;
  max-width: 100%;
  min-height: 10vh;
  position: fixed;
  top: 0;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-ul {
  width: 30%;
  height: 7vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*background-color: rgba(255, 255, 255, 0.1);*/
  /*backdrop-filter: blur(3px)*/
}

.nav-li {
  list-style-type: none;
}

.nav-li a {
  position: relative;
  font-size: 17px;
  font-weight: 600;
  color: #ffdd9e;
  font-family: inherit;
  text-decoration: none;
  text-transform: lowercase;
  letter-spacing: 1.5px;
  margin-left: 30px;
}
.nav-li a::after {
  content: "";
  position: absolute;
  bottom: -1.6vh;
  left: 0;
  height: 3px;
  width: 0%;
  background: linear-gradient(45deg, #d36100, yellow);
  background-size: 100% 2px;

  transition: 0.3s ease;
}
.nav-li a:hover::after {
  width: 100%;
}
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.mobile-toggle {
  display: none;
}

/*Navbar styles ended*/

.container-circle {
  position: relative;
  line-height: 50px;
  text-align: center;
}

.container-circle .circle {
  height: 200px;
  width: 200px;
  margin: 30px;
  background: linear-gradient(45deg, #d36100, #882e99a6);
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}

/*Buy page styling*/

.btn-hover {
  width: 13%;
  margin: 20px 2% 15px 2%;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  height: 50px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  text-transform: lowercase;
  letter-spacing: 1.5px;
  font-family: inherit;

  border-radius: 40px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-blue {
  color: black;
  background-image: linear-gradient(
    to right,
    #25aae1,
    #155aa8,
    #4a77bb,
    #0fafff
  );
  /*   box-shadow: 0 4px 15px 0 rgba(49, 76, 196, 0.75);
 */
}

.btn-hover.color-green {
  color: black;
  background-image: linear-gradient(
    to right,
    #62f576,
    #1b8f04,
    #4ba86a,
    #2a8b3f
  );
  /*   box-shadow: 0 4px 15px 0 rgba(17, 229, 10, 0.75);
 */
}
.btn-hover.color-yellow {
  color: black;
  background-image: linear-gradient(
    to right,
    #e1ea66,
    #ca9b00,
    #ddbc00,
    #ebc700
  );
  /*   box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
 */
}
.btn-hover.color-red {
  color: black;
  background-image: linear-gradient(
    to right,
    #ad0017,
    #c23939,
    #e96359,
    #861016
  );
  /*   box-shadow: 0 4px 15px 0 rgba(218, 51, 56, 0.75);
 */
}

.btn-hover.color-white {
  color: black;
  background-image: linear-gradient(
    to right,
    #f5ddc3,
    #b9b8b7,
    #acacac,
    #e2dbd6
  );
  /*   box-shadow: 0 4px 15px 0 rgba(218, 51, 56, 0.75);
 */
}

.btn-hover.color-pink {
  color: black;
  background-image: linear-gradient(
    to right,
    #f73b93,
    #f72889,
    #f78cbe,
    #f767a3
  );
  /*   box-shadow: 0 4px 15px 0 rgba(218, 51, 56, 0.75);
 */
}

.btn-hover.color-purple {
  color: black;
  background-image: linear-gradient(
    to right,
    #c44ba0,
    #911a7d,
    #d859e9,
    #66084a
  );
  /*   box-shadow: 0 4px 15px 0 rgba(218, 51, 56, 0.75);
 */
}

.btn-hover.color-orange {
  color: black;
  background-image: linear-gradient(
    to right,
    #ad5c00,
    #fca400,
    #af4600,
    #dd7a29
  );
  /*   box-shadow: 0 4px 15px 0 rgba(218, 51, 56, 0.75);
 */
}

input[placeholder] {
  color: #ffffffaa !important;
}

.input-matic {
  background-color: transparent;
  background-image: linear-gradient(to right, #ffe600 0, #ff7101 50%);
  background-repeat: no-repeat;
  background-position: 0 calc(100% + 3px), 0 0;
  background-size: 100% 3px;
  box-shadow: none;
  border: 0;
  border-bottom: 3px solid #5a4709;
  margin-top: 5px;
  color: #000;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  line-height: 1.5;
  outline: 0 none;
  padding: 0.25rem 0;
  transition: border-color 0.2s linear;
  width: 300px;
  text-align: center;
  color: #ffdd9e;
  background-color: rgba(53, 53, 53, 0.5);
}

.input-matic:hover,
.input-matic:focus {
  border-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffdd9e;
  opacity: 50%; /* Firefox */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/*VRF Page styles*/
.vrf-numbers.color-white {
  float: left;
  margin-right: 10px;
  font-size: 70px;
  background: linear-gradient(45deg, #e4f1f7, #a5a5a5);
  background-size: 150% 150%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vrf-numbers.color-pink {
  float: left;
  margin-right: 10px;

  font-size: 70px;
  background: linear-gradient(45deg, #ee99d2, #e25fac);
  background-size: 150% 150%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vrf-numbers.color-orange {
  float: left;
  margin-right: 10px;

  font-size: 70px;
  background: linear-gradient(45deg, #ffc188, #d8621d);
  background-size: 150% 150%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vrf-numbers.color-purple {
  float: left;
  margin-right: 10px;

  font-size: 70px;
  background: linear-gradient(45deg, #d859e9, #66084a);
  background-size: 150% 150%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vrf-numbers.color-green {
  float: left;
  margin-right: 10px;

  font-size: 70px;
  background: linear-gradient(45deg, #86f58f, #2c9722);
  background-size: 150% 150%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vrf-numbers.color-yellow {
  float: left;
  margin-right: 10px;

  font-size: 70px;
  background: linear-gradient(45deg, #e7e959, #ffd51c);
  background-size: 150% 150%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vrf-numbers.color-blue {
  float: left;
  margin-right: 10px;

  font-size: 70px;
  background: linear-gradient(45deg, #5963e9, #08438f);
  background-size: 150% 150%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vrf-numbers.color-red {
  float: left;
  margin-right: 10px;

  font-size: 70px;
  background: linear-gradient(45deg, #e9596c, #660808);
  background-size: 150% 150%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-red {
  background: radial-gradient(
    circle,
    rgba(255, 131, 133, 1) 0%,
    rgba(255, 94, 97, 1) 56%,
    rgba(235, 4, 9, 0.989233193277311) 100%
  );
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: none !important;
  border-width: 0;
}
